# Supabase Configuration
# Créez un projet sur https://supabase.com puis copiez vos clés ici
NEXT_PUBLIC_SUPABASE_URL=https://cgebstrjisrpvytqzrzy.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnZWJzdHJqaXNycHZ5dHF6cnp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NjQ5NTIsImV4cCI6MjA5OTM0MDk1Mn0.X5EOyqEHSG7Y79z2VGECx_PQX0xbqZOU1_YV_lUrPBI

# URL de l'app (pour les liens d'invitation)
NEXT_PUBLIC_APP_URL=https://eventia-chi.vercel.app/